<link type="text/css" rel="stylesheet" href="/css/home.css">

<div id="display_tasks">
    
    <h1><i class="fas fa-clipboard-list"></i>&nbsp;<%=title1%>:&emsp;<a href="/add-task"><i class="fas fa-plus-circle"></i></a></h1>
    <ul id="task-list">
        
        <%for (let i of taskList){%>
            <li>
                <div id="task-details">
                    <div id="task-description">
                        <div id="tasks">
                            <span id="Task">Task Description:<%= i.task%></span>
                            <span id="Category"><i class="cat"><%= i.category%></i></span>
                        </div>
                        <div id="due-date-time">
                            <span id="Time">Time:<%= i.time%></span>
                            <span id="Date"><i class="fas fa-calendar-check"></i>:<%= i.date%></span>
                        </div>
                    </div>
                    
                    <div id="delete-icon">
                        <a href="/delete-task/?id=<%= i._id %>"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                
                
            </li>
            
            <%}%>

    </ul>

</div>
<script type="text/javascript" src="/js/home.js"></script>
</script>

       