<html>
    <head>
        <title>
          <%= title %>
        </title>
        <link type="text/css" rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <%- style %>
    </head>
    <body>
       <%- include('_header'); %>
       <%- body %>
       <%- include('_footer'); %>
       <%- script %>
       <script type="text/javascript" src="/js/layout.js"></script>
    </body>

</html>